<h2>Enter Course Information:</h2>

<form asp-controller="major" asp-action="create" method="post">
  <div class="">
    <label for="majorName">Major Name</label>
    <input type="text" name="majorName">
  </div>

  <button type="submit">Save Major</button>
</form>
